<tr>
  <td><%= user.id %></td>
  <td><%= user.try(:name) %></td>
  <td><%= user.try(:email) %></td>
  <td><%= truncate user.try(:address), length: 160 %></td>
  <td>
    <%= link_to "Show", user, :class => "", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal" %> |
    <%= link_to 'Edit', edit_user_path(user) %> |
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>