<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= truncate category.description, length: 160 %></td>
  <td>
    <%= link_to "Show", category, :class => "", :remote => true, "data-toggle" => "modal", "data-target" => "#myModal" %> |
    <%= link_to 'Edit', edit_category_path(category) %> |
    <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>